// base colors
$base-color: #4a475e;
$base-dark-color: darken($base-color, 15%);
$base-darker-color: darken($base-color, 20%);
$base-light-color: lighten($base-color, 10%);

// secondary colors
$second-color: #331D2C;
$second-dark-color: darken($second-color, 10%);
$second-light-color: lighten($second-color, 10%);

// strong color
$strong-color: #c43c45;
$strong-light-color: lighten($strong-color, 15%);

$strong-second-color: #dda045;
$strong-second-light-color: lighten($strong-second-color, 15%);
$strong-second-weak-color: rgb(220, 155, 81);

$strong-gradient: linear-gradient(215deg, $strong-light-color 0%, adjust-hue($strong-color, -30deg) 50%, $strong-color 100%);

$base-contrast-color: white;
$base-weak-contrast-color: darken($base-contrast-color, 10%);

$second-contrast-color: #ce87b9;