// base colors
$done-status-color: rgb(91, 141, 93);
$backlog-status-color: white;
$will-be-back-status-color: rgb(98, 172, 166);
$ping-me-status-color: rgb(236, 156, 212);
$in-progress-status-color: rgb(243, 204, 78);