// base colors
$done-status-color: rgb(56, 97, 58);
$backlog-status-color: white;
$will-be-back-status-color: rgb(56, 179, 195);
$ping-me-status-color: rgb(194, 103, 166);
$next-to-take-status-color: rgb(223, 186, 62);
$in-progress-status-color: rgb(18, 192, 73);