// base colors
$done-status-color: white;
$backlog-status-color: rgb(224, 29, 18);
$will-be-back-status-color: rgb(109, 215, 229);
$ping-me-status-color: rgb(255, 85, 210);
$next-to-take-status-color: rgb(255, 181, 69);
$in-progress-status-color: rgb(32, 231, 95);