// base colors
$base-dark-color: #334155;
$base-color: #4f5e70;
$base-pale-color: #91a2b7;
$base-light-color: #ffffff;
// font colors
$font-dark-color: rgb(30, 32, 34);
// attractive colors
$attention-color: rgb(228, 45, 45);
$attractive-color: #484054;
$attractive-light-color: #6b4771;
$attractive-border-color: rgb(39, 200, 225);
// size
$icon-normal-size: 20px;
$icon-large-size: 24px;
$icon-super-large-size: 124px;

$border-extrawide-size: 12px;
$border-wide-size: 6px;
$border-normal-size: 3px;
$border-narrow-size: 2px;

$large-size: 20px;
$wide-size: 10px;
$normal-size: 6px;
$narrow-size: 3px;

$space-normal-size: 30px;

// appearance

@mixin normal-component {
	background-color: $base-color;
	color: $base-light-color;
}

@mixin dark-component {
	background-color: $base-dark-color;
	color: $base-light-color;
}

@mixin attractive-component {
	background: linear-gradient(215deg, $attractive-light-color 0%, $attractive-color 100%);
	color: $base-light-color;
}

@mixin bordered($side: all, $color: $attractive-border-color, $size: $border-normal-size) {
	border-color: $color;
	@if $side == all {
		border-width: $size;
	} @else if $side == bottom {
		border-bottom-width: $size;
	} @else if $side == top {
		border-top-width: $size;
	} @else if $side == left {
		border-left-width: $size;
	} @else if $side == right {
		border-right-width: $size;
	}
}

@mixin standard-input {
	padding: $normal-size;
	border-radius: $normal-size;
	@include bordered($color: $base-pale-color, $size: 1px);
	@include dark-component;
}

@mixin normal-shadow {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@mixin styled-scrollbar($background-color: transparent) {

	&::-webkit-scrollbar {
		width: $wide-size;
		height: $wide-size;
		background-color: $background-color;
	}

	&::-webkit-scrollbar-track {
		border-radius: $narrow-size;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent;
		border-radius: $normal-size;
	}

	&:hover::-webkit-scrollbar-thumb {
		background-color: rgba(200, 200, 200, 0.5);
	}
}

// composition

@mixin row($gap: 0px) {
	@apply flex flex-row;
	gap: $gap;
}

@mixin row-centered($gap: 0px) {
	@apply flex flex-row items-center;
	gap: $gap;
}

@mixin row-justifyied($gap: 0px) {
	@apply flex flex-row justify-between;
	gap: $gap;
}

@mixin row-stretched($gap: 0px) {
	@apply flex flex-row items-stretch;
	gap: $gap;
}

@mixin row-start($gap: 0px) {
	@apply flex flex-row items-start;
	gap: $gap;
}

@mixin column($gap: 0px) {
	@apply flex flex-col;
	gap: $gap;
}

@mixin column-justifyied($gap: 0px) {
	@apply flex flex-col justify-between;
	gap: $gap;
}

@mixin column-stretched($gap: 0px) {
	@apply flex flex-col items-stretch;
	gap: $gap;
}

@mixin column-centered($gap: 0px) {
	@apply flex flex-col items-center;
	gap: $gap;
}

@mixin content-centered {
	@apply flex flex-col items-center justify-center;
}

@mixin responsive-grid($min-cell-width: 200px, $x-gap: $normal-size, $y-gap: $normal-size) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($min-cell-width, 1fr));
	align-content: start;
	gap: $x-gap $y-gap;
}

@mixin modal-window-background {
	position: absolute;
	z-index: 10;
	padding: $space-normal-size;
	@include full-screen;
	@apply flex justify-center items-start;
}

// alignments

@mixin screen-centered-x($element-width) {
	left: calc((100vw - $indicatodWidth) / 2);
}

@mixin screen-centered-y($element-height) {
	left: calc((100vh - $element-height) / 2);
}

// sizes

@mixin min-max-width($min-width: 400px, $max-width: 800px) {
	min-width: $min-width;
	max-width: $max-width;
}

@mixin icon-normal-sized {
	height: $icon-normal-size;
	min-width: $icon-normal-size;
}

@mixin icon-large-sized {
	height: $icon-large-size;
	min-width: $icon-large-size;
}

@mixin icon-super-large-sized {
	height: $icon-super-large-size;
	min-width: $icon-super-large-size;
}

@mixin full-screen-height {
	min-height: 100vh;
	max-height: 100vh;
}

@mixin full-screen {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

@mixin screen-sized($width-percent: 100, $height-percent: 100) {
	height: #{$height-percent}vh;
	width: #{$width-percent}vw;
}

@mixin scrollable {
	overflow-y: auto;
	@include styled-scrollbar;
}

// animations

@mixin move-animation($name, $duration: 300ms, $distance: 100px) {
	animation: $name $duration;

	@keyframes #{$name} {
		0% {
			translate: calc(-1 * $distance / 2);
			opacity: 0;
		}

		50% {
			opacity: 1;
		}

		100% {
			translate: calc($distance / 2);
			opacity: 0;
		}
	}
}

@mixin background-animation($name, $duration: 1000ms) {
	background: linear-gradient(
		90deg,
		adjust-color($attractive-light-color, $alpha: -0),
		adjust-color($attractive-light-color, $alpha: -0),
		adjust-color($attractive-color, $alpha: -0),
	);
	background-size: 200% 200%;
	animation: $name $duration infinite alternate;

	@keyframes #{$name} {
		0% {
			background-position: 0% 0%;
		}
		100% {
			background-position: 100% 0%;
		}
	}
}
